{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}RG Production - Accueil{% endblock %}

{% block body %}
<header class="header">
    <svg class="phone-nav-svg js-phone-nav-menu-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    <svg class="phone-nav-svg hide-phone-nav-svg js-phone-nav-close-menu-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    <nav class="nav hide hide-menu-for-phone-size js-nav">
        <ul class="nav__list">
            <li>
                <a class="nav__list--element" href="{{ path('app_services_page') }}">Nos prestations</a>
            </li>
            <li>
                <a class="nav__list--element" href="{{ path('app_projects_page') }}">Nos réalisations</a>
            </li>
            <li>
                <a class="nav__list--element" href="{{ path('app_contact_page') }}">Contactez-nous</a>
            </li>
        </ul>
    </nav>
    <img class="header__logo" src="{{asset('build/images/logo.png')}}" alt="Logo de RG Production">
    <div class="header__discover-us hide js-discover-us-section">
        <p class="header__discover-us--text">Dévouvrez-nous</p>
        <svg class="header__discover-us--svg js-discover-us-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
    </div>
</header>
<main class="main js-main-section page-flux">
    {% for page in homePages %}
    <h1 class="main__title">{{page.pageTitle}}</h1>
    <section class="about-index">
        <div class="about-index__text-section">
            <svg class="about-index__text-section--quote-svg-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
            <div class="about-index__text-section--text index-left-to-right-animation">
                <h2 class="about-index__text-section--title">{{page.aboutSectionTitle}}</h2>
                <p class="description-text-of-about-section-index">{{page.aboutSectionText}}</p>
            </div>
            <svg class="about-index__text-section--quote-svg-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
        </div>
        <div class="about-index__squares-design">
            <svg class="about-index__squares-design--svg-square-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0H512V512H0V0z"/></svg>
            <svg class="about-index__squares-design--svg-square-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0H512V512H0V0z"/></svg>
        </div>
        <div class="about-index__image-section">
            <img class="about-index__image-section--image" src="{{asset('build/images/laptop.jpg')}}" alt='Ordinateur'>
        </div>
    </section>
    <section class="services-index">
        <div class="services-index__image-section">
            <img class="services-index__image-section--image" src="{{asset('build/images/responsive.jpg')}}" alt="Ordinateur, tablette et smartphone">
        </div>
        <div class="services-index__text-section index-right-to-left-animation">
            <h2 class="services-index__text-section--title"> {{page.servicesSectionTitle}}</h2>
            <div class="services-index__text-section--text">
                <p class="description-text-of-services-section-index">{{page.servicesSectionText}}</p>
                <p>Retrouvez toutes nos prestations <a href="services.html">ici</a>.</p>
            </div>
        </div>
    </section>
    <section class="projects-contact-section">
        <section class="projects-contact-section__projects index-left-to-right-animation">
            <h2 class="projects-contact-section__projects--title">{{page.projectsSectionTitle}}</h2>
            <p class="projects-contact-section__projects--text">{{page.projectsSectionText}}</p>
            <a class="projects-contact-section__projects--link" href="{{ path('app_projects_page') }}"><svg class="projects-contact-section__projects--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></a>
        </section>
        <section class="contact-section-index">
            <div class="contact-section-index__div-for-background">
                <h2 class="contact-section-index__title">{{page.contactSectionTitle}}</h2>
                <div class="contact-section-index__informations">
                    <p class="contact-section-index__informations--description">{{page.contactSectionText}}</p>
                    <ul class="contact-section-index__informations--list-elements">
                        <li class="contact-section-list-element">
                            <svg class="contact-section-list-element__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                            <p class="contact-section-list-element__type-info">Par mail : </p>
                            <a class="contact-section-list-element__info" href="mailto:rgproduction83@gmail.com">rgproduction83@gmail.com</a>
                        </li>
                        <li class="contact-section-list-element">
                            <svg class="contact-section-list-element__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                            <p class="contact-section-list-element__type-info">Par téléphone : </p>
                            <a class="contact-section-list-element__info" href="tel:+33689420577">06 89 42 05 77</a>
                        </li>
                </div>
            </div>
        </section>
    </section>
    {% endfor %}
</main>
{% endblock %}
