{% extends 'base.html.twig' %}

{% block title %}RG Production - Prestations{% endblock %}

{% block body %}
<div class="section-to-show-at-start-pages js-section-to-show-at-start-pages">
    <img class="header-projects__logo" src="{{asset('build/images/logo.png')}}" alt="Logo de RG Production">
</div>
<main class="main-section-pages js-main-section-pages hide">
    <section class="services-page-discover-section">
        {% for page in servicesPage %}
            <h1 class="services-page-discover-section__title">{{page.pageTitle}}</h1>
            <p class="services-page-discover-section__text">{{page.pageText}}</p>
        {% endfor %}
    </section>
    <section class="design-service">
        <div class="design-service__text-section services-left-to-right-animation">
            <h2 class="design-service__text-section--title">Design graphique</h2>
            <p class="design-service__text-section--description">Création de logo et mise en place de charte graphique pour donner une identité visuelle unique à votre entreprise. Ensemble, nous définirons les éléments clés qui refléteront au mieux votre image de marque.</p>
            <a href="{{ path('app_contact_page') }}" class="design-service__text-section--contact-link">Nous contacter</a>
        </div>
        <div class="design-service__image-div js-div-animated-svg services-right-to-left-animation">
            <img class="design-service__image-div--image" src="{{asset('build/images/design-graphique.jpg')}}" alt="">
        </div>
    </section>
    <section class="web-site-service">
        <div class="web-site-service__text-section services-right-to-left-animation">
            <h2 class="web-site-service__text-section--title">Création de site vitrine</h2>
            <p class="web-site-service__text-section--description">Chaque site vitrine que je conçois est pensé pour répondre à vos besoins spécifiques et refléter l'identité unique de votre entreprise. Des designs modernes et intuitifs combinés à une navigation fluide garantissent une expérience utilisateur agréable pour vos visiteurs.
                Un site vitrine professionnel est un outil indispensable pour atteindre vos objectifs commerciaux.</p>
            <a href="{{ path('app_contact_page') }}" class="web-site-service__text-section--contact-link">Nous contacter</a>
        </div>
        <div class="web-site-service__image-div services-left-to-right-animation">
            <img class="web-site-service__image-div--image" src="{{asset('build/images/web-site-creation.jpg')}}" alt="">
        </div>
    </section>
    <section class="e-commerce-service">
        <div class="e-commerce-service__text-section services-left-to-right-animation">
            <h2 class="e-commerce-service__text-section--title">Création de site e-commerce avec WooCommerce</h2>
            <p class="e-commerce-service__text-section--description">Vous souhaitez vendre vos produits en ligne ? Je développe des boutiques en ligne avec WooCommerce, une solution puissante et flexible intégrée à WordPress. Des fonctionnalités de gestion des produits, des paiements sécurisés et une expérience utilisateur optimale pour vos clients.</p>
            <a href="{{ path('app_contact_page') }}" class="e-commerce-service__text-section--contact-link">Nous contacter</a>
        </div>
        <div class="e-commerce-service__image-div services-right-to-left-animation">
            <img class="web-site-service__image-div--image" src="{{asset('build/images/e-commerce.jpg')}}" alt="">
        </div>
    </section>
    <section class="maintenance-service">
        <div class="maintenance-service__text-section services-right-to-left-animation">
            <h2 class="maintenance-service__text-section--title">Maintenance</h2>
            <p class="maintenance-service__text-section--description">La maintenance régulière de votre site web est essentielle pour assurer son bon fonctionnement et sa sécurité. Je propose des services de maintenance pour mettre à jour votre site, maintenir le code à jour, corriger les bugs et garantir sa performance à long terme.</p>
            <a href="{{ path('app_contact_page') }}" class="maintenance-service__text-section--contact-link">Nous contacter</a>
        </div>
        <div class="maintenance-service__image-div services-left-to-right-animation">
            <img class="web-site-service__image-div--image" src="{{asset('build/images/maintenance.jpg')}}" alt="">
        </div>
    </section>
</main>
{% endblock %}
